[Unit]
Description=Weather Station PHP Server

[Service]
User=pi
WorkingDirectory=/home/pi/weather-station/www
ExecStart=sudo php -S 0.0.0.0:80
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
